@import "../../styles/global.scss";

.Container {
    @include flex();
    flex-direction: column;
    align-items: stretch;

    width: max(200px, 30vw);
    padding: 30px;
    gap: 15px;

    .Container__icon {
        width: 17px;
        margin: 15px;
    }
    .Container__submit {
        padding: 10px;
    }
}

.Container {
    background-color: black;
    color: white;
    border-radius: $borderRadius;

    .Container__info {
        color: $colorText;
    }
    .Container__submit {
        background-color: rgb(251, 116, 19);
        border-color: transparent;
        color: $colorText;
        border-radius: $borderRadius;
    }
}

.Container__note {
    @include flex();

    .note__option {
        padding: 15px 20px;
    }
}

.note__option {
    transition: background-color 0.2s linear;
    border-radius: $borderRadius;

    &:hover {
        background-color: rgb(251, 116, 19);
    }
}
