@import "../../styles/global.scss";

.Container {
    @include flex();
    flex-direction: column;
    align-items: stretch;

    max-width: 300px;
    padding: 30px;
    gap: 15px;

    .Container__icon {
        width: 17px;
        margin: 15px;
    }
}

.Container {
    background-color: hsl(216, 12%, 54%);
    color: white;
    border-radius: $borderRadius;

    .Container__info {
        color: whitesmoke;
    }
}

.Container__note {
    @include flex();
    gap: 20px;

    .note__option {
        padding: 15px 20px;
        border-radius: $borderRadius;
    }
}

.note__option {
    background-color: transparent;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: rgb(251, 116, 19);
    }
}
